{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Categorie</th>
				<th scope="col">title</th>
				<th scope="col">content</th>
				<th scope="col">author</th>
				<th scope="col">email</th>
				<th scope="col">price</th>
				<th scope="col">state</th>
				<th scope="col">Created at</th>
				<th scope="col">publish at</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for advert in adverts %}
				<tr>
					<th cope="row">{{advert.id}}</th>
					<td>
						{{advert.category.name}}
					</td>
					<td>{{advert.title}}</td>
					<td>{{advert.content}}</td>
					<td>{{advert.author}}</td>
					<td>{{advert.email}}</td>
					<td>{{advert.price}}</td>
					<td>{{advert.state}}</td>
					<td>{{advert.createdAt|date}}</td>
					<td>{{advert.publishAt|date}}</td>
					<td>
						<a href="{{ path("advert_edit", {'id':advert.id} ) }}" class="btn btn-warning">
							<i class="fas fa-pen"></i>&nbsp;Modification
						</a>
						<form method="post" action="{{ path('advert_delete', {'id': advert.id}) }}" style="display: inline-block;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advert.id) }}">
							<button class="btn btn-danger">
								<i class="fas fa-times"></i>&nbsp; Delete</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path("advert_add") }}" class="btn btn-primary">
		<i class="fas fa-plus"></i>&nbsp;Ajouter</a>
{% endblock %}
