{% extends "base.html.twig" %}
{% block title %}visualisation advert
{% endblock %}
{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Index</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('advert_index')}}">Advert</a>
		</li>
		<li class="breadcrumb-item active">{{advert.title}}</li>
	</ol>
	<h1>{{advert.title}}</h1>
	<h4 class="text-muted">{{advert.category.name}}</h4>
	<div class="row">
		<div class="col">
			<div>Autheur :
				{{advert.author}}
			</div>
			<div>email :
				{{advert.email}}
			</div>
			<div>prix :
				{{advert.price}}
			</div>
		</div>
		<div class="col">
			{% if workflow_can(advert, 'publish') %}
				<a href="{{ path('advert_transition', {'id': advert.id, 'to': 'publish'}) }}" class="btn btn-warning">Publier</a>
			{% endif %}
			{% if workflow_can(advert, 'reject') %}
				<a href="{{ path('advert_transition', {'id': advert.id, 'to': 'reject'}) }}" class="btn btn-warning">Rejeter</a>
			{% endif %}
			{% if workflow_can(advert, 'unpublish') %}
				<a href="{{ path('advert_transition', {'id': advert.id, 'to': 'unpublish'}) }}" class="btn btn-warning">Dépublier</a>
			{% endif %}
			<a href="{{ path('advert_add_picture', {'id': advert.id} )}}" class="btn btn-success">
				Photo</a>
		</div>
	</div>
	<h4 class="text-muted">Photo :
	</h4>
	<div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
		{% for picture in advert.pictures %}
			<div class="col-sm-6 col-lg-4 mb-2 mt-2 display-flex-image">
				<img src="{{ asset('images/adverts/')}}{{picture.path}}" class="img-fluid" alt="img">
			</div>
		{% endfor %}
	</div>
{% endblock %}
