{% extends 'base.html.twig' %}

{% block title %}categorie index
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Index</a>
		</li>
		<li class="breadcrumb-item active">Categorie</li>
	</ol>
	<h1>Categories</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Title</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<th cope="row">{{category.id}}</th>
				<td>{{category.name}}</td>
				<td>
					<a href="{{ path("category_edit", {'id':category.id} ) }}" class="btn btn-warning">
						<i class="fas fa-pen"></i>&nbsp;Modification
					</a>
					<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" style="display: inline-block;">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
						<button class="btn btn-danger">
							<i class="fas fa-times"></i>&nbsp; Delete</button>
					</form>
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="navigation">
	{{ knp_pagination_render(categories,"@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig") }}
</div>
<a href="{{ path("category_add") }}" class="btn btn-primary">
	<i class="fas fa-plus"></i>&nbsp;Ajouter
</a>{% endblock %}
