{% extends 'base.html.twig' %}

{% block title %}AdminUser index
{% endblock %}

{% block body %}
	<h1>AdminUser index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Password</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for admin_user in admin_users %}
				<tr>
					<td>{{ admin_user.id }}</td>
					<td>{{ admin_user.email }}</td>
					<td>{{ admin_user.roles ? admin_user.roles|json_encode : '' }}</td>
					<td>{{ admin_user.password }}</td>
					<td>
						<a href="{{ path("admin_user_edit", {'id':admin_user.id} ) }}" class="btn btn-warning">
							<i class="fas fa-pen"></i>&nbsp;Modification
						</a>
						{% if user.id != admin_user.id %}
							<form method="post" action="{{ path('admin_user_delete', {'id': admin_user.id}) }}" style="display: inline-block;">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_user.id) }}">
								<button class="btn btn-danger">
									<i class="fas fa-times"></i>&nbsp; Delete</button>
							</form>
						{% endif %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path("admin_user_new") }}" class="btn btn-primary">
		<i class="fas fa-plus"></i>&nbsp;Ajouter</a>
{% endblock %}
