{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Categorie</th>
				<th scope="col">title</th>
				<th scope="col">content</th>
				<th scope="col">author</th>
				<th scope="col">email</th>
				<th scope="col">price</th>
				<th scope="col">state</th>
				<th scope="col">Created at</th>
				<th scope="col">publish at</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for advert in adverts %}
				<th cope="row">{{advert.id}}</th>
				<td>{{advert.category.name}}</td>
				<td>{{advert.title}}</td>
				<td>{{advert.content}}</td>
				<td>{{advert.author}}</td>
				<td>{{advert.email}}</td>
				<td>{{advert.price}}</td>
				<td>{{advert.state}}</td>
				<td>{{advert.created_at|date}}</td>
				<td>{{advert.publish_at|date}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{{ path("category_add") }}" class="btn btn-primary">
	<i class="fas fa-plus"></i>&nbsp;Ajouter</a>{% endblock %}
